@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* font-family: 'Poppins', sans-serif; */

body,html {
    margin: 0;
    background-color: lightblue;
    max-width: 100vw;
}


header {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    /* width: 100%; */
    display: flex;
    color: black;
    text-align: center;
}


#overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }


nav,button {
    background-color: #B5EAEA;
}

a {
    color: black;
}

.me {
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;

}


.portfolio img {
    width: 10em;
}

.row {
    flex-wrap: nowrap;
}


