
body {
    margin: 0;

}

main {
    /* text-align: center; */
}


ol {
    list-style-type: upper-roman;
}
th, tr, td {
    border: 1px solid black;
}

table {
    margin: auto;
}

td {
    padding: 30px;
}

.lion-img {
    margin: auto;
    margin-top: 100px;
}

.lion-img>img {
    border: 10px solid ora;
}