@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body,html {
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/018/945/original/light-grey-world-map-background-free-video.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;

}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom-container {
    display: flex;
    justify-content: center;
    /* padding: 0 50px; */
}

.bottom-container p {
    text-transform: uppercase;
}

.box {
    width: 40%;
}

.box h1 {
    color: blueviolet;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}



.con {
    width: 180px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.l {
    background: linear-gradient(0, salmon 40%, white 30%)
}

.m {
    align-self: center;
    background: linear-gradient(0, blue 40%, white 30%)
}

.r {
    background: linear-gradient(0, green 40%, white 30%)
}

.con p {
    font-size: 0.5em;
}

img {
    width: 2em;
}

@media all and (min-width: 480px) and (max-width: 768px) {

    body ,html {
        background-repeat: repeat-y;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .con {
        width: 100%;
    }

    .l {
        margin-top: 200px;
    }

    .box h1 {
        font-size: 1.7em;
    }
 }

@media all and (max-width: 480px) {
    body ,html {
        background-repeat: repeat-y;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .con {
        width: 100%;
    }

    .l {
        margin-top: 200px;
    }

    .box h1 {
        font-size: 1.7em;
    }
 }