body {
    margin: 0;
}

nav {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-container {
    margin-left: 10px;
}

.main-container {
   text-align: center;
}

.one {
    display: flex;
}