body{
    background-color: lightcoral;
}

h1{

    text-align: center;
}

.container, .form-con{
    background-color: #fff;

}
.container {
    width: 300px;
    /* text-align: center; */
    margin: auto;

}

.form-con {
    padding: 20px;
    border-bottom: 10px solid salmon;
}

#button{
    background-color: white;
    color: lightblue;
}

.fa-calendar-times{
    float: left;
}

p{
    width: 90%;
    padding: 5px;
    margin: auto;
  
}

input{
    border: none;
}

input[type = 'checkbox']{
    float: left;
}

hr{
    background-color: lightblue;
    width: 80%;
}

